body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#444343+0,333232+100 */
  background: #444343; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #444343 0%,
    #333232 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    #444343 0%,
    #333232 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    #444343 0%,
    #333232 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444343', endColorstr='#333232',GradientType=0 ); /* IE6-9 */
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;

  display: grid;
  width: 100%;

  margin-left: auto;
  margin-right: auto;
  padding: 0;

  justify-content: center;
}

nav {
  text-align-last: center;

  grid-column-start: 1;
  grid-column-end: 5;

  margin: 0 auto 0 auto;

  div {
    color: white;
    float: left;

    padding: 8px 8px 8px 8px;

    a {
      color: white;
      padding: 8px 8px 8px 8px;
      text-decoration: none;
    }

    a:hover {
      background: #565656;
    }
  }
}

header {
  background: #2b2b2b;
  color: white;
  text-align-last: center;
  font-size: 80px;
  padding: 16px 0 16px 0;

  grid-column-start: 1;
  grid-column-end: 5;
}

nav,
header {
  @media (max-width: 500px) {
    font-size: 0;
  }
}

main {
  background: white;

  color: rgba(0, 0, 0, 0.767);

  grid-column-start: 1;
  grid-column-end: 4;

  margin: 0 auto 0 auto;

  width: auto;
  max-width: 1200px;
  min-height: 1000px;

  flex-wrap: wrap;
  display: flex;
  @media (min-width: 900px) {
    flex-wrap: nowrap;
  }

  h1 {
    text-align: center;
    font-size: 72px;
    margin: 24px 0 0 0;
  }

  .subtext {
    font-size: 28px;
    margin: 0 0 24px 0;
  }

  article {
    min-width: 650px;

    .card_wrapper {
      display: flex;
      flex-wrap: wrap;
    }

    .card_portfolio {
      color: black;
      width: 200px;
      background: #2b2b2b4b;
      padding: 16px;
      text-align: center;
      border-radius: 20px;
      margin: 16px;
      justify-content: center;

      h2 {
        background: #2b2b2b;
        color: white;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
      }
      a {
        color: black;
        text-decoration: none;
      }
    }

    .app_page_icon {
      img {
        height: 200px;
      }
    }

    #photo_div {
      text-align: center;
    }

    .app_photo {
      width: 15%;
    }

    padding: 0 16px 16px 24px;

    .point {
      padding-left: 24px;
    }
  }

  aside {
    position: relative;
    margin: 0 auto 0 auto;
    text-align: center;

    //When the screen is too small

    background: white;
    width: 200px;

    @media (max-width: 900px) {
      background: rgb(211, 211, 211);
      width: 100%;
    }

    //background: #dddddd;

    p {
      padding-right: 24px;
      padding-left: 24px;
    }

    .verticle_line {
      position: absolute;
      background: #3535351f;
      height: 100%;
      width: 3px;
    }

    .seperator {
      background: #3535351c;
      margin: 0 auto 0 auto;
      height: 32px;
      width: 100%;
      padding-top: 8px;
    }

    .icons {
      display: flex;
      flex-wrap: wrap;
      padding: 16px 24px 16px 24px;
      row-gap: 16px;
      background: #d1d1d1;
      justify-content: space-between;
      img {
        height: 50px;
        padding: 0 8px 0 8px;
      }
    }
  }
}

footer {
  background: black;
  color: white;
  text-align: center;

  grid-column-start: 1;
  grid-column-end: 5;

  a {
    color: white;
  }
}
