body {
  background: #4d4d4d;
  height: 100%;
  width: 100%;
  margin: 0;
}

nav {
  padding-top: 10px;
  background: #4d4d4d;
  text-align: center;
}

a.nav_bar {
  color: white;
  margin-left: 15px;
  margin-right: 15px;
}

#h1Title {
  text-align: center;
  color: white;
  font-size: 5rem;
  padding-top: 1.5rem;
  margin-top: 20px;
}

#title {
  background: #373737;
  height: 8rem;
}

h2 {
  padding-top: 1em;
  padding-left: 2em;
}

#paragraphMain {
  padding-left: 2em;
}

p.about_me {
  padding-left: 30px;
  padding-right: 30px;
}

main {
  background: white;
  width: 1050px;
  min-width: 400px;
  min-height: 800px;
  margin: 0 auto;
  position: relative;
}

footer {
  margin-top: auto;
  width: 100%;
  background: #373737;
  height: auto;
}
#footerText {
  color: white;
  text-align: center;
  font-size: 0.75em;
}

#foot_bar {
  height: 20px;
  background: rgb(100, 100, 100);
}
