body {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#444343+0,333232+100 */
  background: #444343;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(#444343), to(#333232));
  background: linear-gradient(to bottom, #444343 0%, #333232 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444343', endColorstr='#333232',GradientType=0 );
  /* IE6-9 */
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

nav {
  text-align-last: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
  margin: 0 auto 0 auto;
}

nav div {
  color: white;
  float: left;
  padding: 8px 8px 8px 8px;
}

nav div a {
  color: white;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
}

nav div a:hover {
  background: #565656;
}

header {
  background: #2b2b2b;
  color: white;
  text-align-last: center;
  font-size: 80px;
  padding: 16px 0 16px 0;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

@media (max-width: 500px) {
  nav,
  header {
    font-size: 0;
  }
}

main {
  background: white;
  color: rgba(0, 0, 0, 0.767);
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  margin: 0 auto 0 auto;
  width: auto;
  max-width: 1000px;
  min-height: 1000px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (min-width: 900px) {
  main {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

main h1 {
  text-align: center;
  font-size: 72px;
  margin: 24px 0 0 0;
}

main .subtext {
  font-size: 28px;
  margin: 0 0 24px 0;
}

main article {
  padding: 0 16px 16px 24px;
}

main article #photo_div {
  text-align: center;
}

main article .app_photo {
  width: 15%;
}

main article .point {
  padding-left: 24px;
}

main aside {
  position: relative;
  margin: 0 auto 0 auto;
  padding-bottom: 24px;
  text-align: center;
  background: #a1d7ec;
}

@media (min-width: 700px) {
  main aside {
    width: auto;
    background: white;
  }
}

main aside p {
  padding-right: 24px;
  padding-left: 24px;
}

main aside .verticle_line {
  position: absolute;
  background: #3535351f;
  height: 100%;
  width: 3px;
}

main aside .seperator {
  background: #3535351f;
  margin: 32px auto 0 auto;
  height: 32px;
  width: 80%;
  padding-top: 8px;
}

main aside .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 16px;
  padding-left: 24px;
  padding-right: 24px;
  row-gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main aside .icons img {
  height: 50px;
}

footer {
  background: black;
  color: white;
  text-align: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 4;
}

footer a {
  color: white;
}
/*# sourceMappingURL=main.css.map */